@page
@model RazorBoatApp2026InClass.Pages.Members.DeleteMemberModel
@{
    ViewData["Title"] = "Delete member";
}

<h1>Delete member</h1>
<form method="post">
    <label>Member id</label>: @Model.DeleteMember.Id<br />
    <label>Member phone number</label>: @Model.DeleteMember.PhoneNumber<br />
    <label>Member name</label>: @Model.DeleteMember.FirstName @Model.DeleteMember.SurName
    <br />
    <input type="submit" asp-page-handler="Delete" class="btn btn-danger" value="Delete boat" />
    <input type="submit" class="btn btn-warning" value="Cancel" />
</form>